<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobApplyTracker</title>
    <link rel="stylesheet" href="/style.css"> <!-- Ensure the path is correct -->
  </head>
<body>
  <div class="head-nav">
    <a href="/dashboard" id="logo-link">
      <img src="/images/logo6.png" alt="logo-website" id="logo">
    </a>
    <nav>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/jobs/add-job">Add Job</a></li>
      <li><a href="/profile">My Profile</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/logout">Logout</a></li>

    </nav>
  </div>
  