<%- include('partials/header'); -%>
<body>
    <h1 id="change-password-title">Change Password</h1>
    <div class="container-change-password">
        <div class="container-changepass">
            <form action="/profile/change-password" method="POST" id="form-changepass">
                <label for="currentPassword">Current Password:</label>
                <input type="password" name="currentPassword" id="currentPassword" required>
              
                <label for="newPassword">New Password:</label>
                <input type="password" name="newPassword" id="newPassword" required>
              
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
              
                <button type="submit" id="btn-changepass">Change Password</button>
              </form>
        </div>
        
          
    </div>
    <script>
        document.getElementById('change-password-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
        
            const form = event.target;
            const formData = new FormData(form);
        
            fetch('/profile/change-password', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Password changed successfully!');
                    window.location.href = data.redirectUrl;
                } else {
                    alert(data.msg || 'An error occurred while changing the password.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        });
        </script>
        
</body>
<%- include('partials/footer'); -%>
